<!-- Default home page -->

<div id="page-form">

<div id="header-before"></div>
<header>
   <h1>Traslados de docencia directa</h1>
   <p class="lead">Utilice el siguiente formulario para solicitar traslado de departamento para el año 2017.</p>
</header>

<div class="content">

<% if (typeof cargos[0] === 'undefined') { %>
  <div class="alert alert-danger">
  	<strong>ERROR:</strong> No se encuentran cargos de docencia directa para trasladar
  </div>
<% } else { %>

	<div class="panel panel-default">
		<div class="panel-heading">Cargo de docencia directa que desea trasladar:</div>
		<div class="panel-body">

			<div class="table-responsive">
			<table class="table table-bordered">
			<tr>
				<th>Cargo</th>
				<th>Asignatura</th>
				<th>Departamento</th>
				<th>Grado</th>
				<th>Año ingreso</th>
			</tr>
			<% cargos.forEach (function(cargo) { %>
				<tr>
					<td><%= cargo.cargo %></td>
					<td><%= cargo.asignatura %></td>
					<td><%= cargo.departamento %></td>
					<td><%= cargo.grado %></td>
					<td><%= cargo.ingreso %></td>
				</tr>
			<% }) %>
			</table>
			</div>
		</div>
	</div>
	<p>Los traslados de cargos de docencia indirecta y de cargos no docentes no se solicitan mediante este formulario.</p>

	<button type="button" class="btn btn-primary" id='btnsolicitud'>Iniciar solicitud de traslado</button>

  <form id="solicitud">

<%- partial ('../departamentos/index.ejs') %>

  <button type="button" class="btn btn-primary" id='btnpaso2' disabled="disabled">Generar solicitud</button>

  <div id="paso2">
  	<div class="panel panel-default">
  		<div class="panel-heading">Datos a incluir en la solicitud:</div>
  		<div class="panel-body">

  			<div class="form-horizontal">
  				<div class="form-group">
  					<label for="cedula" class="col-sm-2 control-label">Documento:</label>
  					<div class="col-sm-2">
  						<input type="text" class="form-control" id="cedula" value="<%= cedula %>" readonly>
  					</div>
  				</div>
  				<div class="form-group">
  					<label for="nombre" class="col-sm-2 control-label">Nombre:</label>
  					<div class="col-sm-4">
  						<input type="text" class="form-control" id="nombre" value="<%= nombre %>" readonly>
  					</div>
  				</div>
  				<div class="form-group">
  					<label for="asignatura" class="col-sm-2 control-label">Asignatura:</label>
  					<div class="col-sm-4">
  						<input type="text" class="form-control" id="asignatura" value="<%= cargos[0].asignatura %>" readonly>
  					</div>
  				</div>
  				<div class="form-group">
  					<label for="origen" class="col-sm-2 control-label">Efectivo en:</label>
  					<div class="col-sm-4">
  						<input type="text" class="form-control" id="origen" value="<%= cargos[0].departamento %>" readonly>
  					</div>
  				</div>
  				<p>Solicita trasladar su efectividad al primero de estos departamentos que tenga cupo para la asignatura:</p>
  				<div class="form-group">
  					<label for="destino" class="col-sm-2 control-label">Destino:</label>
  					<div class="col-sm-10">
  						<textarea class="form-control" id="destino" rows="3" readonly></textarea>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>

	  <button type="submit" class="btn btn-primary" id='submit' disabled="disabled">Enviar solicitud de traslado</button>
  </div>
</form>

<% } %>

</div>

</div>
