<!-- Default home page -->

<div id="page-form">

<div id="header-before"></div>
<header>
   <h1>Traslados de docencia directa</h1>
   <p class="lead">Traslado de departamento para el año 2017.</p>
</header>

<div class="content">

<% if (typeof mensaje !== 'undefined') { -%>
  <div class="alert alert-danger">
  	<strong>ERROR:</strong> <%= mensaje.texto %>
    <% if (mensaje.detalle) { -%>
      <pre><%= mensaje.detalle %></pre>
    <% } %>
  </div>

<% } else if(typeof traslado !== 'undefined') { -%>

  <p class="intro">Ud. tiene registradas las opciones de destino
     para su traslado.<br>
     A continuación puede anular su selección actual si es que desiste del
     traslado o porque desea modificar los destinos o su ordenamiento.</p>

  <div class="panel panel-default">
		<div class="panel-heading">Solicitud de traslado realizada:</div>
		<div class="panel-body">

			<div class="table-responsive">
			<table class="table table-bordered">
			<tr>
				<th>Nombre</th>
				<th>Asignatura</th>
				<th>Departamento</th>
				<th>Destinos</th>
				<th>Fecha de solicitud</th>
			</tr><tr>
        <td><%= persona.pernombrecompleto %></td>
        <td><%= cargo.asignatura %></td>
        <td><%= cargo.departamento %></td>
        <td><%= traslado.Destino %></td>
        <td><%= traslado.UpdatedAt %></td>
      </tr>
      </table>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete"><b>Anular solicitud de traslado</b></button>
  <!-- Modal -->
  <div id="confirmDelete" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Anular solicitud</h4>
        </div>
        <div class="modal-body">
          <p>¿Confirma que desea anular la solicitud de traslado?</p>
        </div>
        <form method="post" id='anular'>
        <input type="hidden" name="tid" value="<%= traslado.id %>">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="submit" class="btn btn-danger" name="anular" value="s">Sí</button>
        </div>
        </form>
      </div>
    </div>
  </div>


<% } else { -%>

  <p class="intro">Actualmente no tiene registradas las opciones de
     destino para su traslado.<br>
     Normalmente su traslado se hará efectivo al primer destino que elija
     salvo que en el mismo no existan Unidades Docentes
     disponibles, en cuyo caso se considerarán, en orden, los otros destinos que
     indicó hasta encontrar uno con disponibilidad.<br>
     Su traslado no se hará efectivo si no registra su opción de destinos o
     no hay Unidades Docentes en ninguno de los departamentos por los que
     optó.</p>

	<div class="panel panel-default">
		<div class="panel-heading">Cargo de docencia directa que desea trasladar:</div>
		<div class="panel-body">

			<div class="table-responsive">
			<table class="table table-bordered">
			<tr>
				<th>Cargo</th>
				<th>Asignatura</th>
				<th>Departamento</th>
				<th>Grado</th>
				<th>Año ingreso</th>
			</tr><tr>
					<td><%= cargo.cargo %></td>
					<td><%= cargo.asignatura %></td>
					<td><%= cargo.departamento %></td>
					<td><%= cargo.grado %></td>
					<td><%= cargo.ingreso %></td>
				</tr>
			</table>
			</div>
		</div>
	</div>
	<p>Los traslados de cargos de docencia indirecta y de cargos no docentes no se solicitan mediante este formulario.</p>

	<button type="button" class="btn btn-primary" id='btnsolicitud'>Iniciar solicitud de traslado</button>

  <form id="solicitud" method="post">

<%- partial ('../departamentos/index.ejs') %>

  <button type="button" class="btn btn-primary" id='btnpaso2' disabled="disabled">Generar solicitud</button>

  <div id="paso2">
  	<div class="panel panel-default">
  		<div class="panel-heading">Datos a incluir en la solicitud:</div>
  		<div class="panel-body">

  			<div class="form-horizontal">
  				<div class="form-group">
  					<label for="cedula" class="col-sm-2 control-label">Documento:</label>
  					<div class="col-sm-2">
  						<input type="text" class="form-control" id="cedula" value="<%= persona.ci %>" readonly>
  					</div>
  				</div>
  				<div class="form-group">
  					<label for="nombre" class="col-sm-2 control-label">Nombre:</label>
  					<div class="col-sm-4">
  						<input type="text" class="form-control" id="nombre" value="<%= persona.pernombrecompleto %>" readonly>
  					</div>
  				</div>
  				<div class="form-group">
  					<label for="asignatura" class="col-sm-2 control-label">Asignatura:</label>
  					<div class="col-sm-4">
  						<input type="text" class="form-control" id="asignatura" value="<%= cargo.asignatura %>" readonly>
  					</div>
  				</div>
  				<div class="form-group">
  					<label for="origen" class="col-sm-2 control-label">Efectivo en:</label>
  					<div class="col-sm-4">
  						<input type="text" class="form-control" id="origen" value="<%= cargo.departamento %>" readonly>
  					</div>
  				</div>
  				<p>Solicita trasladar su efectividad al primero de estos departamentos que tenga cupo para la asignatura:</p>
  				<div class="form-group">
  					<label for="destino" class="col-sm-2 control-label">Destino:</label>
  					<div class="col-sm-10">
  						<textarea class="form-control" id="destino" rows="3" readonly></textarea>
              <input type="hidden" name="destino" id="destinoids">
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>

	  <button type="submit" class="btn btn-primary" id='submit' disabled="disabled">Enviar solicitud de traslado</button>
  </div>
</form>

<% } %>

</div>

</div>
