<!-- Default home page -->
<script type="text/javascript">

var arrAsignaturas = Array();
<% for (a in arrAsignaturas) { -%>
  arrAsignaturas[<%= a %>] = "<%= arrAsignaturas[a] %>";
<% } %>

var arrDepartamentos = Array();
<% for (d in arrDepartamentos) { -%>
  arrDepartamentos[<%= d%>] = "<%= arrDepartamentos[d] %>";
<% } %>

var arrCupos = Array();
<% for (a in arrCupos) { -%>
  arrCupos[<%= a %>] = Array();
  <% for (d in arrCupos[a]) { -%>
    arrCupos[<%= a %>][<%= d %>]=<%= arrCupos[a][d] %>;
  <% } -%>
<% } %>
</script>

<div id="page-form">

<div id="header-before"></div>
<header>
   <h1>Traslados de docencia directa</h1>
   <p class="lead">Traslado de departamento para el año <%= anio+1 %>.</p>
</header>

<div class="content">

<% if (typeof mensaje !== 'undefined') { -%>
  <div class="alert alert-danger">
  	<strong>ERROR:</strong> <%= mensaje.texto %>
    <% if (mensaje.detalle) { -%>
      <pre><%= mensaje.detalle %></pre>
    <% } %>
  </div>

<% } else if(typeof traslados !== 'undefined') { -%>

  <p class="intro">Ud. tiene registradas opciones de destino
     para su traslado.<br>
     A continuación puede anular su selección actual si es que desiste del
     traslado o porque desea modificar los destinos o su ordenamiento.</p>

  <div class="panel panel-default">
		<div class="panel-heading">Solicitud de traslado realizada:</div>
		<div class="panel-body">

			<div class="table-responsive">
			<table class="table table-bordered">
			<tr>
				<th>Nombre</th>
				<th>Asignatura</th>
				<th>Departamento</th>
				<th>Destinos</th>
				<th>Fecha de solicitud</th>
        <th>Acción</th>
			</tr>
      <% traslados.forEach(function(traslado){ -%>
      <tr>
        <td><%= persona.pernombrecompleto %></td>
        <td><%= traslado.Asignatura %></td>
        <td><%= traslado.Departamento %></td>
        <td><%= traslado.Destino %></td>
        <td><%= traslado.UpdatedAt %></td>
        <td>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete<%= traslado.id%>"><b>Anular solicitud</b></button>
          <!-- Modal -->
          <div id="confirmDelete<%= traslado.id%>" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Anular solicitud</h4>
                </div>
                <div class="modal-body">
                  <p>¿Confirma que desea anular la solicitud de traslado de <%= traslado.Asignatura %>?</p>
                </div>
                <form method="post" id='anular<%= traslado.id%>'>
                  <input type="hidden" name="tid" value="<%= traslado.id %>">
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-danger" name="anular" value="s">Sí</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <% }) %>
      </table>
      </div>

    </div>
  </div>


<% } else { -%>

  <p class="intro">Actualmente no tiene registradas las opciones de
     destino para su traslado.
  </p>
<% } %>

<% if ((typeof traslados === 'undefined' ? 0 : traslados.length) < efectividades.length) { %>

  <p class="intro"><b>Cargos efectivos para los que puede solicitar traslado</b></p>

  <p class="intro">
    Normalmente su traslado se hará efectivo al primer destino que elija
    salvo que en el mismo no existan Unidades Docentes
    disponibles, en cuyo caso se considerarán, en orden, los otros destinos que
    indicó hasta encontrar uno con disponibilidad.<br>
    Requisitos para ser trasladado:
  </p>
  <ul class="intro">
    <li>Contar con dos años en el cargo</li>
    <li>Tener 71 puntos o más en Aptitud Docente en su actuación durante <%= anio-1 %></li>
    <li>Haber registrado su opción de destino por un departamento con
      Unidades Docentes disponibles en su asignatura</li>
    </ul>

	<div class="panel panel-default">
		<div class="panel-heading">Cargo de docencia directa que desea trasladar:</div>
		<div class="panel-body">

			<div class="table-responsive">
			<table class="table table-bordered" id="cargos">
			<tr>
        <th></th>
				<th>Cargo</th>
				<th>Asignatura</th>
				<th>Departamento</th>
				<th>Grado</th>
				<th>Año ingreso</th>
      </tr>
        <% efectividades.forEach(function(efectividad){
            try {
              if (traslados.find(function(traslado) {
                return (traslado.AsignId == efectividad.FncEsGrupI && traslado.DeptoId == efectividad.FncEsDepto);
              })) {
                return; // esta efectividad ya tiene traslado solicitado
              }
            } catch(e) {}
        -%>
			<tr id="tr-<%= efectividad.FncEsGrupI %>-<%= efectividad.FncEsDepto %>">
        <td><input type="radio" name="cargo" id="<%= efectividad.FncEsGrupI %>-<%= efectividad.FncEsDepto %>"<% if (Object.keys(efectividades).length==1) {%> checked="checked"<%}%>></td>
				<td>DOCENTE</td>
				<td><%= arrAsignaturas[efectividad.FncEsGrupI] %></td>
        <td><%= arrDepartamentos[efectividad.FncEsDepto] %></td>
				<td><%= efectividad.FncEsGrado %></td>
				<td><%= new Date(efectividad.FncEsFecha).getFullYear() %></td>
			</tr>
      <% var AsignId = efectividad.FncEsGrupI; var DeptoId = efectividad.FncEsDepto %>
      <% }) %>
			</table>
			</div>
		</div>
	</div>
	<p>Los traslados de cargos de docencia indirecta y de cargos no docentes no se solicitan mediante este formulario.</p>

	<button type="button" class="btn btn-primary" id='btnsolicitud'>Iniciar solicitud de traslado</button>

  <form id="solicitud" method="post">

<%- partial ('../departamentos/index.ejs') %>

  <button type="button" class="btn btn-primary" id='btnpaso2' disabled="disabled">Generar solicitud</button>

  <div id="paso2">
  	<div class="panel panel-default">
  		<div class="panel-heading">Datos a incluir en la solicitud:</div>
  		<div class="panel-body">

  			<div class="form-horizontal">
  				<div class="form-group">
  					<label for="cedula" class="col-sm-2 control-label">Documento:</label>
  					<div class="col-sm-2">
  						<input type="text" class="form-control" id="cedula" value="<%= persona.ci %>" readonly>
  					</div>
  				</div>
  				<div class="form-group">
  					<label for="nombre" class="col-sm-2 control-label">Nombre:</label>
  					<div class="col-sm-4">
  						<input type="text" class="form-control" id="nombre" value="<%= persona.pernombrecompleto %>" readonly>
  					</div>
  				</div>
  				<div class="form-group">
  					<label for="asignatura" class="col-sm-2 control-label">Asignatura:</label>
  					<div class="col-sm-4">
              <input type="hidden" class="form-control" name="asignid" id="asignatura" value="<%= Object.keys(efectividades).length>1 ? "" : efectividades[0].FncEsGrupI %>" readonly>
  						<input type="text" class="form-control" id="asignaturadesc" value="<%= Object.keys(efectividades).length>1 ? "" : arrAsignaturas[efectividades[0].FncEsGrupI] %>" readonly>
  					</div>
  				</div>
  				<div class="form-group">
  					<label for="origen" class="col-sm-2 control-label">Efectivo en:</label>
  					<div class="col-sm-4">
              <input type="hidden" class="form-control" name="origen" id="origen" value="<%= Object.keys(efectividades).length>1 ? "" : efectividades[0].FncEsDepto %>" readonly>
  						<input type="text" class="form-control" id="origendesc" value="<%= Object.keys(efectividades).length>1 ? "" : arrDepartamentos[efectividades[0].FncEsDepto] %>" readonly>
  					</div>
  				</div>
  				<p>Solicita trasladar su efectividad al primero de estos departamentos que tenga cupo para la asignatura:</p>
  				<div class="form-group">
  					<label for="destino" class="col-sm-2 control-label">Destino:</label>
  					<div class="col-sm-10">
  						<textarea class="form-control" id="destino" rows="3" readonly></textarea>
              <input type="hidden" name="destino" id="destinoids">
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>

	  <button type="submit" class="btn btn-primary" id='submit' disabled="disabled">Enviar solicitud de traslado</button>
  </div>
</form>

<% } %>

</div>

</div>
<% if (Object.keys(efectividades).length>1) { %>
<script type="text/javascript">
window.onload = function(){
		$('button#btnsolicitud').html("Seleccione un cargo para continuar");
		$('button#btnsolicitud').attr('disabled','disabled');
	};
</script>
<% } %>
