<!-- Default home page -->
<% String.prototype.fmtCedula = function () {
      return this.replace(/(.)?(...)(...)(.)$/, function(match,millon,mil,unidades,verif) {
             return millon+'.'+mil+'.'+unidades+'-'+verif;
      });
};
-%>

<div id="page-form">

<div id="header-before"></div>
<header>
   <h1>Traslados de docencia directa</h1>
   <p class="lead">Traslado de departamento para el año 2017.</p>
</header>

<div class="content">

<% if (typeof mensaje !== 'undefined') { -%>
  <div class="alert alert-danger">
  	<strong>ERROR:</strong> <%= mensaje.texto %>
    <% if (mensaje.detalle) { -%>
      <pre><%= mensaje.detalle %></pre>
    <% } %>
  </div>

<% } else { -%>

  <p class="intro">Proceso de traslado de Docencia Directa</p>

  <ol id="botones">
    <li><button type="button" class="btn btn-default" id='btnver'>Ver solicitudes de traslado</button></li>
    <li><button type="button" class="btn btn-default" id='btnproceso'>Iniciar proceso de traslado</button></li>
    <li><button type="button" class="btn btn-default" id='btnimprimir'>Imprimir página</button></li>
  </ol>

    <div class="table-responsive">
    <table class="table table-bordered" id="resultado">
    <tr>
      <th>Cédula</th>
    	<th>Nombre</th>
    	<th>Asignatura</th>
    	<th>Departamento</th>
    	<th>Destinos</th>
    	<th>Grado</th>
      <th style="width:100px">Cupos</th>
      <th style="width:200px">Resultado</th>
    </tr>
    <% traslado.forEach(function(info) { %><tr>
      <td><%= info.PerDocId.fmtCedula() %></td>
      <td><%= info.PerNombreCompleto %></td>
      <td><%= info.AsignDesc %></td>
      <td><%= arrDepartamentos[info.DeptoId] %></td>
      <td><%= JSON.parse(info.Destino).map(function(d){
        return arrDepartamentos[d];
      }).join(', ') %></td>
      <td><%= info.Grado %></td>
      <td><%= JSON.parse(info.Destino).map(function(d){
        return info.cupo[d];
      }).join(', ') %></td>
      <td><%- typeof info.destino === 'undefined' ? '<b>NO HAY CUPOS LIBRES</b>' : arrDepartamentos[info.destino] %></td>
    </tr><% }) %>
    </table>
    </div>

<% } %>

</div>

</div>

<script type="text/javascript">
var postulantes = <%= traslado.length %>;
</script>
